.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-wrap: wrap;
}

.logo img {
    height: 120px;
    transition: none;
}

.logo img:hover {
    filter: none;
    transform: none;
}

.search-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.ss-nav-bar {
    display: block;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 100%; 
        justify-content: center; 
        margin-top: 10px;
    }
  
    .ss-searchtextfield, .ss-search-box {
        width: 100%;
    }
    .ss-nav-bar {
        display: none;
    }
}
